body {
    background: rgb(0, 0, 0);
    font-family: verdana;
}

a {
    color: blueviolet;
}

.photo {
    border-radius: 50%;
    border: 2px solid blueviolet
}

#title, .subtitle, .post_title {
    color: blueviolet;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

.subtitle {
    font-size: 30px;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: #fff;
    padding: 15px;
    border: 2px solid blueviolet;
    margin-bottom: 15px;
    border-radius: 10px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    font-size: 14px;
}

.list_tecnology {
    margin: 0;
    margin-bottom: 15px;
    font-size: 14px;
}

.post_img {
    margin-bottom: 15px;
}

.rdp {
    background-color: rgb(255, 255, 255);
    border: 2px solid blueviolet;
    border-radius: 10px;
}

footer {
    font-size: 14px;
}